<div class="main container">
  <% if @items.any? %>
    <% @items.each do |item| %>
      <div class="col-md-4 col-sm-6">
        <%= image_tag item.image.url(:medium) %>
        <div>
          <%= item.name %>
          <% if item.request %>
          <%= item.request.user.name %> has requested this item
          <a href="#">Transfer item</a>
          <a href="#">Decline</a>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <strong>You are not currently borrowing anything</strong>
  <% end %>
</div>
