<div class="main container">
  <h2>My Borrowings</h2>

  <% if @items.any? %>
    <% @items.each do |item| %>
    <div class="col-md-4 col-sm-6">
      <div class="item-container">
        <%= image_tag item.image.url(:medium), class: "item" %>
        <div class="item-caption">
          <h3><%= item.name %></h3>
          <% if item.request %>
          <p><%= item.request.user.name %> has requested this item</p>
          <a href="#" class="btn btn-primary">Transfer item</a>
          <%= link_to "Decline", item_request_path(item, item.request), method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4>You are not currently borrowing anything</h4>
  <% end %>
</div>
