<header>
   <div class="container-fluid organisation-hero">
   </div>
</header>

<div class="container">
 <% @items.each do |item| %>
   <div class="col-md-4 col-sm-6 item-container">
     <a>
       <div class="item-hover"> </div>
       <%= image_tag item.image.url(:medium), class: "item" %>
       <div class="item-caption">
         <h3><%= item.name %></h3>
         <p>currently with <%= item.current_borrower %></p>
       </div>
     </a>
   </div>
 <% end %>
</div>
