@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

.main.container {
  margin-top: 100px;
}

// Typography
h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
}

// Navbar
.navbar-default .navbar-nav > li > a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #E3E3E3;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
}

.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  transition: all 0.5s;
  font-size: 25px;
  a {
    color: #E3E3E3;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

// Notifications / Alerts
.notifications {
  position: absolute;
  width: 100%;
  top: 60px;
  height: 60px;
}

.notifications .container {
  text-align: center;
}

// Organisation hero
.organisation-hero {
  background-image: url(http://assets.makersacademy.com/images/backgrounds/dan-and-students-overhead-70.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 300px;
  margin-bottom: 30px;
}
.organisation-logo {
  max-width: 140px;
  margin: 0 auto -20px auto;
  display: block;
}

// Items
.item-container {
  height: 380px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px #DADADA;
  a {
    color: #444444;
  }
  a:hover {
    color: black;
  }
}

.item-caption {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  height: 135px;
}

.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height:244px;
}
.fill img.item {
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}

.requested-by {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #949494;
}

// Forms
form {
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
}

form label {
  text-transform: uppercase;
}

.btn {
  margin: 3px auto 12px auto;
}

form .btn {
  width: 100%;
}
