@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

$font-family-sans-serif: 'Roboto Slab', serif;
$navbar-default-bg: rgba(34,34,34, 0.97);

$body-bg: #f9f9f9;

// #FF6908;
